# usage: pip install -r requirements.trainer.txt
# uncomment the torch and torchvision if using conda

# configs & logs
hydra-core==1.3.2 # config management
hydra-colorlog==1.2.0 # color logs
hydra-optuna-sweeper==1.2.0 # optuna sweeper
rootutils==1.0.7 # standardizing the project root setup

# deep learning framework
# torch==2.0.0 # pytorch
# torchvision==0.15.0 # pytorch vision
lightning==2.0.* # pytorch lightning framework
torchmetrics==1.3.* # pytorch metrics library
onnxruntime==1.17.* # onnxruntime

# extras
pre-commit # hooks for applying linters on commit
rich # beautiful text formatting in terminal
pytest # tests
